.FullCard {
    margin-top: 50px;
    width:100%;
    height: 530px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Card {
    padding: 0 12px 12px 12px;
    width: 70%;
}

.Close {
    float: right;
    left: 12px;
    top: 12px;
    height: 0 !important;
}

.Pic {
    margin: auto 0 !important;
}

.Pic img{
    width: 292px;
    height: 500px;
}

.Text {
    min-width: 250px;
    padding: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
}


@media (max-width:1030px) {
    .FullCard {
        height: auto;
    }
    .Text {
        margin-right: 0 !important;
        margin-top: 0 !important;
    }
}

@media (max-width:415px) {
    .Pic img{
        width: 175px;
        height: 300px;
    }
}